

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LightNet</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="navbar" class="nav navbar-nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#lights" aria-controls="lights" role="tab"
                                                          data-toggle="tab">Lights</a></li>
                <li role="presentation"><a href="#rooms" aria-controls="rooms" role="tab" data-toggle="tab">Rooms</a>
                </li>
                <li role="presentation"><a href="#lightsources" aria-controls="lightsources" role="tab"
                                           data-toggle="tab">Lightsources</a></li>
                <li role="presentation"><a href="#animations" aria-controls="animations" role="tab" data-toggle="tab">Animations</a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li><a id="apiDocsLink" href="http://localhost:4050/apiDocs/">Api Documentation</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="lights">

            {{> @lights }}

        </div>

        <div role="tabpanel" class="tab-pane" id="rooms">

            <div class="row">

                <div class="col-sm-3 col-md-2 sidebar">
                    <h3 class="sub-header">
                        Rooms
                        <button id="addRoomBtn" class="btn btn-default pull-right" type="submit" data-toggle="modal" data-target="#addRoomDialog">Add</button>
                    </h3>

                    <ul id="roomlist" class="nav nav-sidebar">
                    </ul>
                </div>

                <div class="col-sm-9 col-md-10 main">
                    <h3 id="roomTitle" class="sub-header">Room
                        <button id="deleteRoomBtn" class="btn btn-default pull-right" type="submit">Delete Room</button>
                    </h3>

                    <div class="col-sm-9 col-md-10" id="roomOutlineContainer">
                        <canvas id="roomOutlineCanvas" resize></canvas>
                        <div class="well point-info-container">
                            <form>
                                <div class="form-group">
                                    <label for="pointXInput">X</label>
                                    <input type="text" class="form-control" id="pointXInput" placeholder="X">
                                </div>
                                <div class="form-group">
                                    <label for="pointYInput">Y</label>
                                    <input type="text" class="form-control" id="pointYInput" placeholder="Y">
                                </div>

                                <button id="removePointBtn" class="btn btn-default pull-right" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="lightsources">

            <div class="row">

                <div class="col-sm-3 col-md-2 sidebar">
                    <h3 class="sub-header">
                        Lightsources
                        <button id="addLightsourceBtn" class="btn btn-default pull-right" type="submit" data-toggle="modal" data-target="#addLightsourceDialog">Add</button>
                    </h3>

                    <ul id="lightsource-list" class="nav nav-sidebar">
                    </ul>
                </div>

                <div class="col-sm-9 col-md-10 main">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <div class="col-sm-9 col-md-10" id="roomOutlineContainer">
                        <canvas id="roomOutlineCanvas" resize></canvas>
                        <div class="well point-info-container">
                            <form>
                                <div class="form-group">
                                    <label for="pointXInput">X</label>
                                    <input type="text" class="form-control" id="pointXInput" placeholder="X">
                                </div>
                                <div class="form-group">
                                    <label for="pointYInput">Y</label>
                                    <input type="text" class="form-control" id="pointYInput" placeholder="Y">
                                </div>

                                <button id="removePointBtn" class="btn btn-default pull-right" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="animations">

            <div class="row">
            </div>

        </div>

    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addRoomDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Room</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="roomNameInput">Name</label>
                        <input type="text" class="form-control" id="roomNameInput" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="roomHeightInput">Height</label>
                        <input type="text" class="form-control" id="roomHeightInput" placeholder="Height">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="saveRoomBtn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="addAnimationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Animation</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="roomNameInput">Name</label>
                        <input type="text" class="form-control" id="animationNameInput" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="roomHeightInput">Duration</label>
                        <input type="text" class="form-control" id="animationDurationInput" placeholder="Duration">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="animationLoopingCheckbox"> Looping
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="saveAnimationBtn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
