<div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
        <div class="well">
            <h3 class="sub-header">Handlers</h3>

            <ul id="handlerlist" class="nav nav-sidebar">
                <li id="handleritem_null" class="active all-lights"><a href="#">All Lights <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9 col-md-10 main">
        <h3 class="sub-header">Lights</h3>

        <div class="table-responsive">
            <table id="lightlist" class="table table-striped">
                <thead>
                <tr>
                    <th>X:Y:Z</th>
                    <th>Room</th>
                    <th>Index</th>
                    <th>Handler</th>
                    <th>Active</th>
                    <th>Control</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>